!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", "name" => "viewport"}/
    %meta{content: 'IE=Edge,chrome=1', 'httpequiv': 'X-UA-Compatible'}/
    
    = stylesheet_link_tag 'main.bundle'
    = partial 'layouts/shared/meta_tags'
  %body
    = partial 'layouts/shared/navbar'
    %section.section
      %article.content
        .container.is-desktop
          %h1= current_page.data.title
          %h2.is-size-5.is-text-muted= current_page.data.subtitle

        - if featured_image?(:hero)
          .container.is-fluid
            %figure.image.is-marginless
              = featured_image_tag(:hero)

        .container.is-desktop
          = yield

    = javascript_include_tag 'main.bundle'
    = yield_content :javascripts
